.container {
    padding-right: 5px;
    padding-left: 5px;
}
.div-basket{position: fixed;
    top: 85%;
	right:10%;
    float: right;}
.total{    position: relative;
    top: -42px;
    left: 30px;
    font-size: 16px;
    font-weight: bold;}
.img-container{float: left;padding-right: 25px;}
.img-container>img{width:350px;}
.list-group-item > img{float:left;}
.list-group-item{min-height:260px;background: #F0F8FF;}
.menu-desc>img{padding:10px;float:left;}
.chef-info{float:left;margin-right: 15px;}
.chef-info>img{width:75px;}
.counter-container .counter-minus, .counter-plus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background: #428bca;
    color: white;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
}

.counter-container .counter-field {
    margin: 0;
    padding: 0px;
    text-align: center;
    width: 50px;
}
.price{font-size:20px;}

.user-info{float:left;width:40%;padding: 5px;background: #6495ED;}
.user-img{float:left;width:30%;}
.user-basic-info{float:left;width:70%;padding:5px;}
.user-address,.user-order{padding: 5px;background: #F0F8FF;width:60%;}
.user-address{float:left;}
.user-order{float:right;}
@media (min-width: 768px){
	.col-sm-2 {width: 10.666667%;}
}
@media only screen and (min-width: 320px) and (max-width: 765px) and (orientation: landscape){

}
@media only screen and (min-width: 320px) and (max-width: 765px){
.list-group-item > img{width:100%;min-width:200px;}
.combo-desc{font-size:11px;}
.chef-info>img{width:60px;}
.info-container>h4{font-size:14px;font-weight: bold;}
.list-group-item{min-height:340px;}
.user-info{float:left;width:100%;}
.user-address,.user-order{float: left;width:100%;}
}