<location-picker ng-model="pickedLocation" limit-to="5"></location-picker>
<div class="cheflist-subheader"><h3>Around {{cheflistdata.area}}</h3></div>
</hr>
<div class="list-group">
	<div class="list-group-item" data-ng-repeat="x in cheflistdata.chef">
		<div class="chefimg-container">
		  <img class="img-circle img-responsive" ng-src="{{x.chefimg}}"/>
		</div>
		<div class="info-container">
			<h4 class="chef-name">{{x.chefname}}</h4>
			<p class="chef-rnr">
				<span class="chef-rating">Rating : <b>{{x.rating}}</b></span>
			</p>
		</div>
		</hr>
	</div>
</div>