<div class="container">
<!--
	<location-picker ng-model="pickedLocation" limit-to="5"></location-picker>
-->

	<div class="row" data-example>
		<div class="col-md-6">
			<div class="form-group">
				<input id="placepicker" ng-model="lpicker.text" class="form-control"/>
			</div>
		</div>
	</div>
<!-- {{cheflistdata.area}} -->

	<div class="col-sm-5 form-box">
		<div class="form-top">
			<div class="form-top-left">
				<h4>Chef Around <span id="picked-location">{{lpicker.text}}</span></h4>
				<p>Enjoy the food from your favorite chef.</p>
			</div>
			<div class="form-top-right">
				<i class="fa fa-eye"></i>
			</div>
		</div>
	<!--div class="cheflist-subheader"><h3></h3><i class="fa icon-eye-open"></i></div -->
		</hr>
		<div class="list-group">
			<div class="list-group-item cheflist-group" data-ng-repeat="x in cheflistdata.chef">
				<div class="chefimg-container">
				  <img class="img-circle img-responsive" ng-src="{{x.chefimg}}"/>
				</div>
				<div class="rinfo-container">
					<h4 class="chef-name">{{x.chefname}}</h4>
					<p class="chef-rnr">
						<span class="chef-rating">Rating : <span class="stars">{{x.rating}}</span></span></br>
						<a href="" ng-click="toggleModal()">Chef Reviews</a>
					</p>
				</div>
				<div class="rbtn-container">
					<a class="btn btn-default btn-lg" href="#/menu?chefid={{x.chefid}}">
						<i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
				</hr>
			</div>
			<modal title="Reviews" visible="showModal">
				<!-- {{cheflistdata.state}} -->
				<div class="list-group">
					<div class="list-group-item" data-ng-repeat="x in chefreviewdata.reviews">
						<div class="r-img">
							<img class="img-circle img-responsive" ng-src="{{x.userimg}}"/>
						</div>
						<div class="r-info">
							<p>
								<span class="r-uname"><b>{{x.username}}</b></span>
								<span class="r-rating"> Rating : {{x.rating}} </span></br>
								<span class="r-order">Order : <i>{{x.orderid}}</i></span>&nbsp;<span class="r-date"><b><i>{{x.date}}</i></b></span>
							</p>
							<p class="r-desc">{{x.desc}}</p>
							</hr>
						</div>
					</div>
				</div>
			</modal>
		</div>
		

		
	</div>
	<div class="side-img-container desktop-view">
	   <img class="side-img" src="../img/cartoon-chef-01.png"/>
	</div>
</div>