<div class="container">

	<div class="col-sm-5 form-box">
		<div class="form-top">
			<div class="form-top-left">
				<h3>{{uinfo.name}}</h3>
				<p>
					{{uinfo.phone}}</br>
					{{uinfo.email}}
				</p>
			</div>
			<div class="form-top-right">
				<img class="img-circle img-responsive user-img" width="75" ng-src="{{uinfo.userimg}}"/>
				<!--i class="fa fa-user-secret"></i-->
			</div>
		</div>
		</hr>
		<div class="list-group">
			<h4>Saved Addresses</h4>
			<div class="list-group-item cheflist-group" data-ng-repeat="x in uinfo.address">
				{{x.address1}}</br>
				{{x.address2}}</br>
				{{x.city}}</br>
				{{x.state}}</br>
				{{x.pin}}
				</hr>
			</div>
		</div>
		</hr>
		<div class="list-group">
			<h4>Past Orders</h4>
			<div class="list-group-item cheflist-group" data-ng-repeat="x in uinfo.order">
				Order ID : {{x.orderid}}</br>
				Order Amount : &#8377;{{x.amount}}</br>
				Order Date : {{x.date}}</br>
				<i class="fa fa-check"></i>{{x.status}}</br>
				Remark : {{x.remark}}
				</hr>
			</div>
		</div>
	</div>
</div>